<!DOCTYPE html>
<html lang="en">
<head>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIwzALxUPNbatRBj3Xi1Uhp0fFzwWNBkE&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type = "text/css" href="main.css">
    <title>Weather App</title>
</head>
<body>
    {{>navbar}}
    <div class = "container">
        {{{body}}}
        <div id="map"></div>
    </div>
</body>
</html>


  